.about h1 {
  text-align: center;
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
}

.about-left {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-items: center;
}

.about-right {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  margin: 0 auto;
}

.about-copy-who,
.about-copy-what,
.about-copy-why {
  max-width: 500px;
  width: 100%;
  margin: 20px 50px;
}

.about-left h2 {
  margin: 0;
}

.about-image-right,
.about-image-left {
  width: 300px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.about-right img {
  max-width: 290px;
}
