.contact {
  max-width: 1200px;
  margin: 81px auto 0 auto;
  min-height: 76vh;
}

.contact h1 {
  text-align: center;
}

.contact form {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.contact-name-input,
.email-input,
.subject-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.full-name-error,
.email-error,
.subject-option-error {
  color: red;
  display: none;
}

.success-message-container {
  margin-top: 30px;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: justify;
  visibility: hidden;
  color: #0a3641;
  font-size: 2rem;
}

.contact-top {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.contact-bottom {
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-items: center;
  align-items: center;
}

.message-label-container {
  margin-top: 15px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-error {
  text-align: right;
  color: red;
  display: none;
}

textarea {
  height: 200px;
  width: 100%;
}

.contact-cta-button {
  margin-top: 20px;
  width: auto;
  padding: 10px;
}

.contact form input {
  margin-bottom: 20px;
}
