/* Global styles */

html {
  font-family: "Vollkorn", serif;
  color: #0a3641;
}

a {
  color: #e77431;
}

body {
  margin: 0;
}

/* Navigation bar */

header {
  background-color: #9bc3bb;
}

nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.nav-logo {
  align-self: center;
}

.nav-logo a {
  font-size: 2.3rem;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.nav-logo a:hover {
  text-decoration: none;
}

li {
  display: inline;
}

nav {
  max-width: 1366px;
  margin: auto;
}

nav a {
  margin: 0 10px 0 10px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #0a3641;
}

nav a:hover {
  text-decoration: underline;
}

.current {
  font-weight: bold;
}

.nav-divider {
  font-size: 1.3rem;
}
