/* Global styles */

html {
  font-family: "Vollkorn", serif;
  color: #0a3641;
}

a {
  color: #e77431;
}

body {
  margin: 0;
}

footer {
  background-color: #9bc3bb;
  text-align: center;
  padding: 20px;
}

/* Navigation bar */

header {
  background-color: #9bc3bb;
}

nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.nav-logo,
.nav-left,
.nav-right {
  align-self: center;
}

.nav-logo a {
  font-size: 2.3rem;
  margin: 0;
  font-weight: bold;
}

.nav-logo a:hover {
  text-decoration: none;
}

li {
  display: inline;
}

nav {
  max-width: 1000px;
  margin: auto;
}

nav a {
  margin: 0 10px 0 10px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #0a3641;
}

nav a:hover {
  text-decoration: underline;
}

.current {
  font-weight: bold;
}

.nav-divider {
  font-size: 1.3rem;
}

/* Hero section */

.hero-section {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  position: relative;
}

.hero-section-text {
  max-width: 1000px;
  margin: auto;
  text-align: left;
  position: relative;
  left: 50px;
}

.hero-section-text h1 {
  font-size: 3.5rem;
  margin: 0;
  padding: 100px 0 25px 0;
}

.hero-section-text a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e77431;
  color: #efefef;
  font-weight: bold;
  padding: 20px;
  display: inline-block;
  min-width: 163px;
  font-size: 1.1rem;
  margin: 5px;
  text-align: center;
}
